// article page title
*[id*='article'] .title {
  color: white;
}
// lighten the mask
*[id*='article'] .headline-mask {
  opacity: 0.67;
}
// back button
.back-btn, nav[class='current'] > .back {
  height: 35px;
  width: 35px;
  transform: rotate(45deg);
  position: absolute;
  top: 45px;
  right: 25px;
  cursor: pointer;
}
.back-btn {
  top: 65px; // 20px margin
}
// each "block" (section) in the article
.block, .compass {
  @include body;
  p {
    padding: 0px 20px;
    margin: 0px;
  }
}
// specific to story blocks, not compass blocks
.block {
  margin-bottom: 10px;
  position: relative; // for the "lines" below
}
// main narrative has a distinct background color
.storyline-0 {
  background-color: $offwhite;
  padding-top: 10px;
}
// the block header colors
.block h2 {
  margin: 0px;
  padding: 20px;
  color: white;
  @include h2;
}
// links are just orange
.block a {
  font-weight: bold;
  color: $orange;
  text-decoration: none;
}
.storyline-1, .storyline-2 {
  background-color: white;
}
.storyline-1 h2 {
  background-color: $green;
  margin-right: 20px;
}
.storyline-2 h2 {
  background-color: $blue;
  margin-left: 20px;
}
// the wings
.line {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 45px;
}
.storyline-1 .line {
  left: -40px;
  background-color: $green;
}
.storyline-2 .line {
  right: -40px;
  background-color: $blue;
}
// overlay visible on longpress
.article-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 15, 30, 0.9);
  text-align: center;
  .article-overlay-content-container {
    padding: 20px;
  }
  .title {
    color: $orange;
    padding: 20px 40px;
  }
  .search-container {
    padding: 15px 0px;
    border-bottom: 1px solid rgba(255,255,255,0.33);
    text-align: left;
  }
  .search-icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    background-image: url("../images/search.png");
    background-size: 100%;
    display: inline-block;
    vertical-align: bottom;
  }
  .search-input {
    background-color: inherit;
    border: 0px;
  }
  .home, .profile, .bookmarks, .share, .font, .brightness {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid rgba(255,255,255,0.25);
    margin: 25px 25px 0px;
    text-align: center;
    display: inline-block;
  }
}

// compass styling
.compass-hidden {
  opacity: 0;
  z-index: -1;
}
.compass {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: $offwhite;
  //transition: opacity .5s ease-in-out;
  //-moz-transition: opacity .5s ease-in-out;
  //-webkit-transition: opacity .5s ease-in-out;
}
.compass-close {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: blue;
  top: 50px;
  left: 50px;
}
