$orange: #FAA918;
$green: #4CAE4E;
$blue: #2F7BAF;
$black: #3F3B37;
$offwhite: rgb(245,245,245);

$black-25: rgba(63,59,55,0.25);
$orange-25: rgba(250,169,24,0.25);
$orange-50: rgba(250,169,24,0.50);
