.headline-container {
  height: 370px;
  margin-top: -20px;
  background-image: url("../images/abdel.jpg");
  background-size: cover;
  position: relative;
}
.headline-mask {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom,  rgba(0,15,30,0.75) 0%,rgba(0,0,0,0.85) 100%);
}
.headline-text-container {
  position: absolute;
  bottom: 0px;
  margin: 20px;
}
.headline-text-container.overlayed {
  opacity: 0.1;
}
// headline swipe menu (on landing page to bookmark, share, etc.)
.headline-overlay {
  position: absolute;
  width: 100%;
  height: 370px;
  top: 0px;
  //background-color: rgba(0,15,30,0.75);
}
.bookmark {
  height: 12px;
  width: 8px;
  background-image: url("../images/bookmark.png");
  background-size: 100%;
  margin-bottom: 10px;
}
.overlay-bookmark, .overlay-separator, .overlay-share {
  position: absolute;
}
.overlay-bookmark, .overlay-share {
  right: 30px;
  height: 25px;
  width: 16px;
  background-size: 100% 100%;
}
.overlay-bookmark {
  top: 110px;
  background-image: url("../images/overlay-bookmark.png");
}
.overlay-bookmark.enabled {
  background-image: url("../images/bookmark.png");
}
.overlay-separator {
  top: 50%;
  height: 1px;
  width: 30px;
  background-color: rgba(255,255,255,0.10);
  right: 25px;
}
.overlay-share {
  top: 235px;
  background-image: url("../images/overlay-share.png");
}
*[id*='article'] .headline-container {
  height: 568px;
  .back-btn {
    background-color: $orange-25;
    .back-img {
      transform: rotate(-45deg);
      background-image: url("../images/back.png");
      height: 16px;
      width: 14px;
      margin: 10px;
      background-size: 100%;
    }
  }
}
// landing page title
.headline .title {
  color: $orange;
}
.title {
  @include h1;
  font-family: serif;
}
.tagline {
  margin: 20px 0px 15px;
  border-top: 2px solid rgba(255,255,255,0.1);
  padding-top: 5px;
  color: rgba(255,255,255,0.67);
  font-size: 14px;
  line-height: 18px;
}
.byline, .date, .read-time {
  color: rgba(127,127,127,0.67);
  font-size: 12px;
  font-weight: bolder;
}
// lighten the text/border in the article (less mask)
*[id*='article'] {
  .byline, .date, .read-time {
    color: rgba(255,255,255,0.67);
  }
  .tagline {
    border-top: 2px solid $orange-25;
  }
}
.headline-text-container .icon {
  display: inline-block;
  height: 14px;
  width: 14px;
  background-size: 100%;
  vertical-align: top;
}
.byline {
  margin-bottom: 5px;
}
.byline .icon {
  background-image: url("../images/author.png");
}
.read-time .icon {
  background-image: url("../images/time.png");
}
.date-container .icon {
  background-image: url("../images/date.png");
}
.name, .date {
  margin-left: 5px;
}
.read-txt {
  margin-right: 5px;
}
.read-time {
  float: right;
}
