// headline styles that apply to both the landing and article pages
// (most page-specific headline styles are in _landing/_article sass files)
.headline-container {
  height: 370px;
  margin-top: -20px;
  background-image: url("../images/abdel.jpg");
  background-size: cover;
  position: relative;
}
.headline-mask {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom,  rgba(0,15,30,0.75) 0%,rgba(0,0,0,0.85) 100%);
}
.headline-text-container {
  position: absolute;
  bottom: 0px;
  margin: 20px;
}
// headline on article page
*[id*='article'] .headline-container {
  height: 568px;
  .back-btn {
    background-color: $orange-25;
    .back-img {
      transform: rotate(-45deg);
      background-image: url("../images/back.png");
      height: 16px;
      width: 14px;
      margin: 10px;
      background-size: 100%;
    }
  }
}
.title {
  @include h1;
  font-family: serif;
}
.tagline {
  margin: 20px 0px 15px;
  border-top: 2px solid rgba(255,255,255,0.1);
  padding-top: 5px;
  color: rgba(255,255,255,0.67);
  font-size: 14px;
  line-height: 18px;
}
.byline, .date, .read-time {
  color: rgba(127,127,127,0.67);
  font-size: 12px;
  font-weight: bolder;
}
// lighten the text/border in the article (less mask)
*[id*='article'] {
  .byline, .date, .read-time {
    color: rgba(255,255,255,0.67);
  }
  .tagline {
    border-top: 2px solid $orange-25;
  }
}
.headline-text-container .icon {
  display: inline-block;
  height: 14px;
  width: 14px;
  background-size: 100%;
  vertical-align: top;
}
.byline {
  margin-bottom: 5px;
}
.byline .icon {
  background-image: url("../images/author.png");
}
.read-time .icon {
  background-image: url("../images/time.png");
}
.date-container .icon {
  background-image: url("../images/date.png");
}
.name, .date {
  margin-left: 5px;
}
.read-txt {
  margin-right: 5px;
}
.read-time {
  float: right;
}
