#header {
  text-align: center;
}
#logo {
  margin: 33px auto;
  height: 32px;
  width: 49px;
  background-image: url("../images/logo.png");
  background-size: 100%;
}
#navigation {
  text-transform: uppercase;
  line-height: 20px;
  margin-bottom: 24px;
}
