@charset "utf-8";

@import "colors";
@import "fonts";

// Globals
body {
  font-family: sans-serif;
  z-index: -2;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}

// ChocolateChip-UI overrides - no nav bar, but let
// back button show through on articles
article[id*="article"] {
  z-index: -1;
}

// markdown overrides
h1 { // hide the headings, since they're used as block delimiters
  display: none;
}

@import "landing";
@import "headline";
@import "article";
