.headline-container
  .headline-mask
  .back-btn
    .back-img
  .title Title
  .tagline Tagline
  %span.byline
    %span.by By
    %span.name Author
  %span.date Date
  %span.read-time
    %span.time 12
    %span.txt min Read
