.headline-container
  .headline-mask
  .back-btn
    .back-img
  .headline-text-container
    .bookmark.invisible
    .title Title
    .tagline Tagline
    .byline
      %span.icon
      %span.name Author
    .read-time
      %span.time 12
      %span.read-txt min Read
      %span.icon
    .date-container
      %span.icon
      %span.date Date
  .headline-overlay.hidden
    .overlay-bookmark
    .overlay-separator
    .overlay-share
