---
  title: Stories
---
%article#nav.current
  %section
    #header
      #navigation
        #visible
          #selected
            International
          #caret
        #dropdown.hidden
          .option U.S.
          .option.selected International
          .option Economy
          .option Technology
          .option Science
          .option Environment
          .option Health
          .option Education
          .option Culture
          .option Sports
    %ul#headlines.list
      %li#loading Loading...
      %li#headline-template.nav.hidden{data: {goto: 0}}
        = partial "headline"
%nav#nav-template.next.hidden
  %a.button.back 
  -#%h1 Story Title
%article#article-template.next.hidden
  %section
    = partial "headline"
    .article
